.no-find {
	text-align: center;
    .max {
        font-size: 180px;
        color: red;
        font-weight: bold;
        line-height: 1;
        margin-bottom:50px;
        span {
            
            font-size: 40px;
            color:#000;
        }
    }
}
