.forex-trading-micro-courses-banner{
	// background:url(../images/forex-trading-micro-courses-banner-bg.jpg) no-repeat center top;
}
.forex-trading-micro-courses-box{
	.list{
		overflow: hidden;
		ul{
			margin-left: -18px;
			margin-right: -18px;
			li{
				width: 33.33%;
				padding:18px;
				float:left;
				text-align:center;
				margin-bottom:15px;
				.box{
					margin:0 auto;
					max-width:340px;
					cursor: pointer;
					.img{
						background:url(../images/book-bg.jpg) no-repeat left top;
						height:198px;
						color:#fff;
						padding-top:120px;
						border:1px solid #ccc;
						border-radius:10px;
						margin-bottom:25px;
						box-shadow: 0px 5px 18px #d9e6ff;
						h3{
							font-size:24px;
							line-height:1.1;
							padding-bottom:5px;
						}
						p{
							font-size:16px;
						}
					}
					h4{
						font-size:14px;
						font-weight: 100;
					}
				}
			}
		}
	}
	@include ipad{
		.list{
			ul{
				margin-left: -10px;
				margin-right: -10px;
				li{
					padding:18px 10px;
					h3{
						font-size:20px!important;
					}
				}
			}
		}
	}
	@include phoneVertical{
		.list{
			ul{

				li{
					width:50%;
					h3{
						font-size:20px!important;
					}
				}
			}
		}
	}
	@include media($max-width:450px){
		.list{
			ul{

				li{
					width:100%;
					h3{
						font-size:20px!important;
					}
				}
			}
		}
	}
}