<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <%%- meta%>
  <%%- title%>
  <%%- link%>
  <%%- style%>
</head>

<body style=" margin: 0px; padding: 0px;">
  <div id="zhiku">
    <%%- app%>
  </div>
  <div style="display:none">
    <a key="59562494efbfb024e645917f" logo_size="124x47" logo_type="business" href="https://www.anquan.org">
      <script src="https://static.anquan.org/static/outer/js/aq_auth.js"> </script>
    </a>
  </div>
  <script type="text/javascript">
  window.__INITIAL__STATE__ = <%%- initialState%>;

  </script>
</body>

</html>
